.nav{
   
    color: white;
    padding: 5px 30px;
    position: fixed;
    top: 0;
    z-index:2;
    margin-top:0;
    .nav-bar{
margin: 2px auto;
    }
}
.icon{
    margin-top: 8px;
    margin-right: 30px;
    font-size:30px;
}